:root{
    --background-color : #161920;
    --background-arkaplan : #1f232e;
    --font-color:#ddd;
}

.navbg{
    background-color: var(--background-color);
}

.steamcom{
    color: #8bc34a;
}


body{
    font-family: 'Inter', sans-serif;
}

.background{
    background-color: var(--background-color);
}

.octicon{
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
    background-color: #161920 !important;
}

.tbaslik{
    background: linear-gradient(-70deg,#a2facf,#64acff);
    background-image: linear-gradient(-70deg, rgb(162, 250, 207), rgb(100, 172, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-color: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tablebody{
    background-color: var(--background-arkaplan);
    color: var(--font-color);
}

.htext{
    color: var(--font-color);
}

.game_image{
    min-width: 120px;
    min-height: 60px;
    width: 120px;
    height: 60px;
    display: inline-block;
}

.patchnote_image{
    min-width: 120px;
    min-height: 60px;
    width: 120px;
    height: 60px;
    display: inline-block;
}

.tablehead{
    background-color: #4b5563;
    color: var(--font-color);
}


.pncontainer p {
    margin: 1rem 0;
}

.pncontainer h2 {
    margin: 1rem 0;
}

.pncontainer li {
    margin: 1rem 0;
    display: list-item;
    text-align: -webkit-match-parent;
}

.pncontainer ul {
    margin: 1rem 0;
    list-style-type: disc;
}

.pncontainer h3 {
    margin: 1rem 0;
}
.pncontainer h1 {
    margin: 1rem 0;
}

.pncontainer h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

@media (max-width: 768px) { 
    .md{
        display: none;
    }
}